/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  /* background-color: #555; */
  color: rgb(27, 27, 27);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  height: 100vh;
}

#Home {
  background-color: red;
}
#Darasa {
  background-color: green;
}
#Contact {
  background-color: blue;
}
#pspace {
  background-color: orange;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  min-width: 100%;
}
/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #fff;
  color: #000;
  cursor: pointer;
}
